<?xml version="1.0" encoding="UTF-8"?>

<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">

    <pluginGroups>
    </pluginGroups>

    <proxies>
    </proxies>

    <servers>

          <server>
            <id>aws-release</id>
            <username>${env.AWS_USERNAME}</username>
            <password>${env.AWS_PASSWORD}</password>
          </server>
          <server>
            <id>aws-snapshot</id>
              <username>${env.AWS_USERNAME}</username>
              <password>${env.AWS_PASSWORD}</password>
          </server> 


</servers>


</settings>
